<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C04F0A831D9B14B200AB15C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04F0A9A1D9B14B200AB15C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04F0AA51D9B14B200AB15C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
